version: '3.8'
services:
  myapp:
    image: 600627346244.dkr.ecr.ap-northeast-2.amazonaws.com/plus-project:latest
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_healthy
    ports:
      - "8080:8080"
    environment:
      SPRING_PROFILES_ACTIVE: "prod"
      SPRING_DATASOURCE_URL: "jdbc:mysql://db:3306/plus_project"
      SPRING_DATASOURCE_USERNAME: ${SPRING_DATASOURCE_USERNAME}
      SPRING_DATASOURCE_PASSWORD: ${SPRING_DATASOURCE_PASSWORD}
      SPRING_DATA_REDIS_HOST: "redis"
      SPRING_DATA_REDIS_PORT: "6379"
      JWT_SECRET_KEY: ${JWT_SECRET_KEY}
      JAVA_OPTS: "-Xms128m -Xmx256m"
    deploy:
      resources:
        limits:
          memory: 512m
        reservations:
          memory: 128m
    restart: on-failure
    command: ["sh", "-c", "sleep 10 && java -jar /app/myapp.jar"]
  db:
    image: mysql:8.0
    container_name: plus-project-db
    environment:
      MYSQL_ROOT_PASSWORD: 1234
      MYSQL_DATABASE: plus_project
    ports:
      - "3306:3306"
    healthcheck:
      test: [ "CMD-SHELL", "mysqladmin ping -h localhost -u root -p1234 && sleep 5" ]
      interval: 5s
      retries: 10
    deploy:
      resources:
        limits:
          memory: 256m
        reservations:
          memory: 128m
    restart: on-failure
    volumes:
      - mysql-data:/var/lib/mysql
    command: --innodb-buffer-pool-size=16M --tmp-table-size=8M --max-connections=20 --innodb-log-file-size=8M --innodb-flush-log-at-trx-commit=0 --performance-schema=OFF
  redis:
    image: redis:6.0
    container_name: plus-project-redis
    ports:
      - "6379:6379"
    healthcheck:
      test: [ "CMD", "redis-cli", "--raw", "incr", "ping" ]
      interval: 5s
      retries: 10
    deploy:
      resources:
        limits:
          memory: 96m
        reservations:
          memory: 48m
    restart: on-failure
volumes:
  mysql-data: